h1{  font-family: "Playwrite VN", serif;color: white;font-size: medium;text-transform: uppercase;}
img{height: 300px;width: 100%;border: 5px solid white;}
div{background-color: black;margin: 0px ;text-align: center;width: 50%;margin-left: 25%;margin-top: 100px;}
html{background-color: black;}
p{ font-size: x-small; font-family: "Playwrite VN", serif;color: white;}

